<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
            .navbar-brand {
                  color: black;
                  font-weight: bolder;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
      </style>
      <title>Document</title>
</head>

<body>
      <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="/products">Tech Mart</a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                              </li>
                              <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                          aria-expanded="false">
                                          Product
                                    </a>
                                    <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="/product/create">Add</a></li>
                                          <li><a class="dropdown-item" href="/products">List</a></li>
                                    </ul>
                        </ul>
                        <!-- <form class="d-flex" role="search">
                              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                  </div>
            </div>
      </nav>
</body>

</html>